*{
    margin:0;
    padding: 0;
    list-style: none;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/Jason.JPG);
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    color: rgb(207, 207, 207);
}

/* ----------*/
/* -----HEADER-----*/
/* ----------*/
.name-container {
    width: 80%;
    margin: auto;
    border: solid 1px rgb(221, 221, 221);    
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: blanchedalmond;
}

.header-container {
    color: rgb(255, 255, 255);
    display: inline-block;
    border: solid 1px rgb(221, 221, 221);
}